*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nerko One', cursive;
  background-color: #ADD8E6;
  text-align: center;
}

h1{
  color: white;
  text-shadow: 2px 2px grey;
  font-size: 80px;
}

.card{
  display: inline-block;
  margin:8px;
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 5%;
  box-shadow: 2px 2px grey;
  position: relative;
}

.front{
  display: none;
}

.text{
  display: none;
}

.back{
  height: 200px;
  width: 200px;
  border-radius: 5%;
}

.card:hover .back{
  display: none;
}

.card:hover .front{
  display: block;
  height: 150px;
  width: 150px;
  margin: auto;
}

.card:hover .text{
  display: block;
  font-size: 30px;
  text-shadow: 2px 2px grey;
  position: absolute;
  bottom: 0px;
  left: 10px;
}

.pink{
  color: pink;
}

.blue{
  color: blue;
}

.green{
  color: green;
}

.lightblue{
  color: lightblue;
}

.orange{
  color: orange;
}

.red{
  color:red;
}
