*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nerko One', cursive;
  background-color: #ADD8E6;
  text-align: center;
}

h1{
  color: white;
  text-shadow: 2px 2px grey;
  font-size: 80px;
}

.card{
  display: inline-block;
  margin:3px;
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 5%;
  box-shadow: 2px 2px grey;
}

.back{
  height: 200px;
  width: 200px;
  border-radius: 5%;
}


.card:hover .back{
  display: none;
}
